html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

.app {
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracker {
    display: flex;
    flex-direction: row;
}

.dailyCheckBoxContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.dailyCheckBox {
}

.dailyCheckBoxLabel {
    text-align: center;
}
