* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    letter-spacing: 0.025em;
}

body {
    margin: 0;
    font-family: "Lora";
    font-size: 17px;
    color: #000;
}

h1 {
    color: #000;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#root::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("https://images.unsplash.com/photo-1612373402999-42a50b77947b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3451&q=80");
    background-size: cover;
    opacity: 0.3;
}

.habitContainer {
    width: 95%;
}

.dateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dateText {
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

.callout {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 19px;
}

.habitCelebration {
    line-height: 30px;
    padding: 0px 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.cellContainer {
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    flex: 2;
    align-items: center;
    min-width: 0;
    text-overflow: ellipsis;
    cursor: pointer;
    background-color: transparent;
    transition: background 20ms ease-in 0s;
}

.cellContainer:hover,
button:hover {
    background: rgba(255, 255, 255, 0.8);
}

.lastCell {
    flex-grow: 0.3;
}

.firstColumn {
    justify-content: flex-start;
    border-right: 1px solid #000;
}

.headerRow {
    border-bottom: 1px solid #000;
}

.startButton {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 8px 15px;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    border-radius: 2px;
    width: 200px;
}

button {
    font-family: "Lora";
    border: none;
    cursor: pointer;
}

.startNewModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 250px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.startNewModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 25px 50px 50px;
    border: 1px solid #888;
    width: 20%;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="date"] {
    border: none;
    border-bottom: 1px solid #888;
    height: 1.5rem;
    margin-bottom: 30px;
    margin-top: 5px;
}

input[type="text"]:focus,
input[type="date"]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
    outline: 0;
}

.submitButton {
    border: none;
    border-radius: 2px;
    height: 3rem;
    line-height: 2rem;
    padding: 0 16px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #323232;
}

.close {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.close:hover {
    background: #000;
    color: #fff;
}

.checkboxContainer {
    display: flex;
    cursor: pointer;
    font-size: 22px;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.customCheckbox {
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customCheckbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .customCheckbox:after {
    display: block;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .customCheckbox {
    background-color: #2caadc;
}

/* Style the checkmark/indicator */
.checkboxContainer .customCheckbox:after {
    width: 3px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin-left: 5px;
}
